<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>大濕之音</title>

    <link rel="manifest" href="./manifest.json">
    <link rel="icon" href="./images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://xiaoan.tocas-ui.com/ts.xiaoan.min.css">
    <style>
        html, body, #app{
            width: 100%;
            height: 100%;
            margin: 0px;
            background-color: #272727;
            color: #FFFFFF;
        }
        .button{
            margin: 2px;
        }
        .play-item.v-btn.v-btn--disabled.v-btn--has-bg{
            background-color: orange !important;
            color: white !important;
        }
        .shake{
            animation: shake 0.35s cubic-bezier(0, 0, 0.2, 1) infinite;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="./audios.js"></script>
    <script>
        const SEARCH_PARAMS_1 = 'q', SEARCH_PARAMS_2 = 'i', SEARCH_PARAMS_3 = 's';
        const IMAGE_SOURCE_HOST_FOR_SOUND_IMAGE = [
            'i.imgur.com',
            'imgur.com',
        ]

        Vue.component('w-icon', {
            template: '#w-icon',
            methods: {
                doShake(){
                    this.shake = true;
                    this.tee.play();
                }
            },
            data(){
                return {
                    shake: false,
                    tee: null,
                };
            },
            mounted(){
                this.tee = new Audio('https://www.myinstants.com/media/sounds/.mp3_WfYbRzx');
                this.tee.addEventListener('ended', () =>{
                    this.shake = false;
                });
            }
        });
        
        window.onload = function(){
            var searchParams = new URLSearchParams(location.search);
            vApp = new Vue({
                el: '#app',
                vuetify: new Vuetify(),
                components: {
                    vuedraggable,
                },
                data: {
                    audios: audios,
                    about: false,
                    timeoutId: null,
                    delayId: null,
                    playing: false,
                    playIndex: -1,
                    audioPlayQueue: [

                    ],
                    searchString: '',

                    share: false,
                    shareLink: '',

                    deferredPrompt: null,

                    createSoundImage: false,
                    soundImageLink: '',
                    imageSourceLink: '',
                    imageSourceLinkError: '',
                    image: '',
                    soundImageTitle: '',
                    soundImageTitleError: null,
                },
                watch:{
                    imageSourceLink(value){
                        try{
                            let url = new URL(value);
                            
                            if(!IMAGE_SOURCE_HOST_FOR_SOUND_IMAGE.find(i => i == url.host)){
                                this.imageSourceLinkError = '只允許imgur.com的連結';
                                this.image = '';
                            }else{
                                this.image = url.pathname.substr(1) + '.png';
                                this.imageSourceLinkError = null;
                            }
                        }catch(e){
                            this.imageSourceLinkError = '無效連結';
                            this.image = '';
                        }
                    },
                    soundImageTitle(value){
                        this.soundImageTitleError = value.length > 50? '超過50個字': null;
                    }
                },
                methods: {
                    checkAudioPlayQueue(){
                        if(this.playing && this.playIndex < this.audioPlayQueue.length){
                            let audio = this.audioPlayQueue[this.playIndex];
                            if(audio.url){
                                this.play(audio.url);
                            }else if(audio.second){
                                this.delayId = setTimeout(() => {
                                    this.delayId = null;
                                    this.checkAudioPlayQueue();
                                }, audio.second);
                            }
                            this.playIndex++;
                        }else{
                            this.stop();
                        }
                    },
                    play(url){
                        audio.src = `https://www.myinstants.com${url}`;
                        audio.play();
                    },
                    playButton(){
                        if(this.audioPlayQueue.length > 0){
                            this.playing = true;
                            this.playIndex = 0;
                            this.checkAudioPlayQueue();
                        }
                    },
                    stop(){
                        this.playing = false;
                        this.playIndex = -1;
                        if(this.delayId){
                            this.delayId = null;
                            clearTimeout(this.delayId);
                        }
                        audio.pause();
                    },
                    clearButton(){
                        this.audioPlayQueue.splice(0, this.audioPlayQueue.length);
                    },
                    shareButton(){
                        this.shareLink = `${location.origin}${location.pathname}?${SEARCH_PARAMS_1}=${btoa(JSON.stringify(this.audioPlayQueue.map(i => i.id)))}`;
                        this.share = true;
                    },
                    removeQueueItem(index){
                        this.audioPlayQueue.splice(index, 1);
                    },
                    preview(audioData){
                        if(this.timeoutId == null){
                            this.timeoutId = setTimeout(() => {
                                this.timeoutId = null;
                                audioData.url && this.play(audioData.url);
                            }, 500);
                        }else{
                            clearTimeout(this.timeoutId);
                            this.timeoutId = null;
                            this.audioPlayQueue.push(audioData);
                        }
                    },
                    copyLink(){
                        shareLink.select();
                        document.execCommand("copy");
                    },

                    goToSoundImage(){
                        this.createSoundImage = false;
                        window.open(
                            `${location.origin}${location.pathname}soundImage.html` + 
                            `?${SEARCH_PARAMS_1}=${btoa(JSON.stringify(this.audioPlayQueue.map(i => i.id)))}` + 
                            `&${SEARCH_PARAMS_2}=${this.image}` + 
                            `&${SEARCH_PARAMS_3}=${btoa(escape(this.soundImageTitle))}`//btoa不支援中文字編碼，因此先將文字用escape轉成%u開頭的形式後便可編碼。
                            , "_blank"
                        );
                        this.imageSourceLink = '';
                        this.soundImageTitle = '';
                    },

                    async install(){
                        this.deferredPrompt.prompt();
                        const { outcome } = await this.deferredPrompt.userChoice;
                        console.log(`User response to the install prompt: ${outcome}`);
                    }
                }
            });
            if(searchParams.get(SEARCH_PARAMS_1)){
                let array = JSON.parse(atob(searchParams.get(SEARCH_PARAMS_1)));
                let audioList = audios.flatMap(i => i.datas);
                vApp.$data.audioPlayQueue = array.map(id => audioList.find(i => i.id == id));
            }

            window.addEventListener('beforeinstallprompt', (e) => {
                e.preventDefault();
                vApp.$data.deferredPrompt = e;
            });
        }
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('./sw.js', { scope: './' });
            // .then(function(reg) {
            //     console.log('Registration succeeded. Scope is ' + reg.scope);
            // }).catch(function(error) {
            //     // registration failed
            //     console.log('Registration failed with ' + error);
            // });


        }
    </script>
    <script type="text/x-template" id="w-icon">
        <v-img src="./images/兆元192.png" max-height="40" max-width="40" :class="{shake: shake}" @click="doShake"></v-img>
    </script>      
</head>
<body>
    <div id="app">
        <v-app>
            <v-app-bar color="#666666" dark app>
                <w-icon></w-icon>
                <v-toolbar-title>大濕之音</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn icon @click="install" v-bind="attrs" v-on="on" v-show="deferredPrompt != null">
                            <v-icon>mdi-download</v-icon>
                        </v-btn>
                    </template>
                    <span>安裝</span>
                </v-tooltip>
                <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn icon @click="about = true" v-bind="attrs" v-on="on">
                            <v-icon>mdi-information-outline</v-icon>
                        </v-btn>
                    </template>
                    <span>關於</span>
                </v-tooltip>
            </v-app-bar>
            <v-main>
                <audio id="audio" @ended="checkAudioPlayQueue"></audio>
                <p>提示：拖曳可以排序，點一下可以移除。</p>
                <draggable v-model="audioPlayQueue" style="margin-top: 15px; margin-bottom: 15px;">
                    <v-btn dark elevation="3" v-for="(item, k) in audioPlayQueue" :key="k" :class="['button', (k == playIndex - 1)? 'play-item' : '']" @click="removeQueueItem(k)" :disabled="playing">{{item.name}}</v-btn>
                 </draggable>
                 <div style="margin-bottom: 15px;">
                    <v-btn dark elevation="3" @click="playButton" :disabled="playing">
                        <v-icon>mdi-play</v-icon>
                        <span>播放</span>
                    </v-btn>
                    <v-btn dark elevation="3" @click="stop">
                        <v-icon>mdi-stop</v-icon>
                        <span>停止</span>
                    </v-btn>
                    <v-btn dark elevation="3" @click="clearButton" :disabled="playing">
                        <v-icon>mdi-delete</v-icon>
                        <span>清空</span>
                    </v-btn>
                    <v-btn dark elevation="3" @click="createSoundImage = true">
                        <v-icon>mdi-image-plus</v-icon>
                        <span>建立有聲圖</span>
                    </v-btn>
                    <v-btn dark elevation="3" @click="shareButton">
                        <v-icon>mdi-share</v-icon>
                        <span>分享</span>
                    </v-btn>
                 </div>

                <v-text-field dark v-model="searchString" label="搜尋"></v-text-field>
                <p>提示：點一下可以預覽，點兩下可以加入至播放序列。</p>
                <v-expansion-panels dark focusable>
                    <v-expansion-panel v-for="audioGroup in audios">
                        <v-expansion-panel-header>{{audioGroup.name}}</v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <v-btn elevation="3" class="button text-truncate" style="max-width: 300px;" v-for="(item, k) in audioGroup.datas" :key="k" @click="preview(item)" v-show="item.name.indexOf(searchString) > -1">{{item.name}}</v-btn>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panels>

                <v-dialog v-model="share" max-width="500px">
                    <v-card>
                        <v-card-title>
                            分享
                        </v-card-title>

                        <v-text-field id="shareLink" v-model="shareLink" label="分享連結"></v-text-field>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn text @click="copyLink">
                                <v-icon>mdi-content-copy</v-icon>
                                <span>複製</span>
                            </v-btn>
                            <v-btn color="primary" text  @click="share = false">
                                關閉
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>

                <v-dialog v-model="createSoundImage">
                    <v-card>
                        <v-card-title>
                            建立有聲圖
                        </v-card-title>

                        <div style="display: flex; justify-content: center;">
                            <v-img :src="`https://i.imgur.com/${image}`" max-width="300"></v-img>
                        </div>
                        <v-text-field v-model="imageSourceLink" label="圖片連結(只允許imgur.com的連結)" :rules="[(value) => imageSourceLinkError || true]"></v-text-field>
                        <v-text-field v-model="soundImageTitle" label="圖片標題(只允許50個字)" :rules="[(value) => soundImageTitleError || true]"></v-text-field>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn text @click="goToSoundImage" :disabled="imageSourceLinkError != null || soundImageTitleError != null">
                                完成
                            </v-btn>
                            <v-btn color="primary" text  @click="createSoundImage = false">
                                取消
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>

                <v-dialog v-model="about" max-width="500px">
                    <v-card>
                        <v-card-title>
                            <w-icon></w-icon>
                            關於
                        </v-card-title>
                        <v-card-text>
                            大濕之音 v1.7.0425
                            <br/>
                            作者：jack850628
                            <br/>
                            聲音來源：
                            <a href="https://www.twitch.tv/h804232006" target="_bloak">仙界大濕</a>
                            <a href="https://www.twitch.tv/magicgadra3" target="_bloak">嘎抓</a>
                            <a href="https://www.twitch.tv/sum_91318" target="_bloak">桑尤姆</a>
                            <a href="https://www.twitch.tv/jjg60205" target="_bloak">皮卡屁</a>
                            <br/>
                            原始碼:
                            <a href="https://github.com/jack850628/wet-elephant-sound" target="_bloak">github</a>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" text  @click="about = false">
                                關閉
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-main>
          
            <!-- <v-footer app>
            </v-footer> -->
        </v-app>
    </div>
</body>
</html>